.header{
    display: flex;
    flex-direction: column;
    align-items: center;

    width:100%;
    min-height: 100vh;
    background-color: #000;

    padding-top: 87px;
    overflow: hidden;

    @include mq(large){
        position: relative;
        z-index: 0;
        height: 900px;
        background-image: url("../images/bg__bar.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__bar{
        width:150%;
        height: 10px;
        margin:50px 0px;
        background: rgb(3,49,206);
        background: linear-gradient(135deg, rgba(3,49,206,0.25) 0%, rgba(159,36,170,1) 100%);

        @include mq(large){
            display: none;
        }

    }

    &__barOne, &__barThree{
        transform: rotate(30deg)
    }

    &__barTwo{
        transform: rotate(-30deg)
    }

    &__option{
        padding:75px 0px;
        text-transform: uppercase;
        text-align: center;
        font-size: 75px;
        font-family: "Laca Regular";
        color:#fff;
        cursor: pointer;
        transition: 0.2s;

        @include mq(large){
            position: absolute;
            transform-origin: center;
            transform:translate(-50%,0)
            
        }

        &:hover{
            letter-spacing: 5px;
        }
    }

    &__optionOne{
        @include mq(large){
            top:20%;
            left:20%;
        }

        @include mq(xxxlarge){
            left:30%;
        }
    }

    &__optionTwo{
        @include mq(large){
            top:20%;
            left:80%;
        }

        @include mq(xxxlarge){
            left:70%;
        }
    }

    &__optionThree{
        @include mq(large){
            top:60%;
            left:50%;
        }
    }
}